:root {
  --past_color: #d3d3d3d4;
  --present_color: #ff6961bd;
  --future_color: #77dd77c1;
  --button_color: #43b8d2;
}

*:focus {
  outline-color: var(--button_color);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--past_color);
}

/*Header Style*/
header {
  color: var(--button_color);
}

header h1 {
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

#currentDay {
  color: var(--present_color);
}

/*Local Storage Save Confirmation Style*/
.save-confirmation {
  text-align: center;
  margin-bottom: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 5%;
}

span {
  padding: 3px 5px 3px 5px;
  background-color: var(--button_color);
  font-size: 20px;
  border-radius: 1%;
}

/*User Input Field Block Style*/
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

/*Hour Block Style*/
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dotted #000000;
  border-left: 1px dotted #000000;
  border-radius: 15px 0 0 15px;
  align-content: center;
}

/*Time Block Color Styles*/
.past {
  background-color: var(--past_color);
  color: white;
}

.present {
  background-color: var(--present_color);
  color: white;
}

.future {
  background-color: var(--future_color);
  color: white;
}


/*Save Button Style*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--button_color);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/*Clear Appointments Button Style*/
#clear_schedule {
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: var(--button_color);
  transition-duration: 0.4s;
  padding: 1% 2% 1% 2%;
  margin-top: 1%;
  text-align: center;
  border: none;
  border-radius: 6px;
}